$color-vsba-red : #af272f;
$color-vsba-black : #53565a;
$color-vsba-blue-7472 : #c4e4e1;
$color-vsba-light-grey : #939597;
$color-vsba-super-light-grey:#f8f7f7;
$color-vsba-yellow : #ebeea5;
$color-vsba-light-yellow : #fff7cc;
$color-vsba-blue : #aee0e9;