body{
    font-family: 'Montserrat', sans-serif !important;
    border-top: 5px solid #bd2130;
}
.Header{
    font-size: 35px;
    padding: 20px 40px 20px 40px;
    /* border: 2px solid #b5b5b1; */
    margin-top: 21px;
    text-align: center;
}
.logo{
    margin-top: 25px;
    text-align: center;
    padding-top: 25px;
}
.Description{
   .bulletpoints {
    margin-top: 35px;
    padding-left: 0;
    li{
        margin-bottom: 20px;
            span{
                
                padding-left: 5px;

            }
        }
   } 


}
.ProductImage{
    margin-top: 21px;
}
.subscribe button{
    height: 60px;
    width: 70%;
    margin-top: 45px;
    background-color: #ffa724;
    font-weight: 700;
    font-size: 25px;
    border: none;
}

.modal-content{
    border-top: 6px solid #bd2130 !important;
    background-color: #e2e2e2 !important;
    text-align: center;
    .modal-body {
        p{
            font-size: 15px;
            padding: 10px;
        }
        h1{
            font-size: 25px;
    padding: 20px 0 20px 0;
        }
        input{
            width: 100%;
            display:block;
            padding: 10px;
        }
        button{
            width: 100%;
            margin-top: 10px;
            background-color: #efb206;
            height: 49px;
            border: none;
            color: #ffff;
            font-size: 20px;
        }
    }
}

.footer{
    background-color: #131a22;
    padding: 30px 0;
    margin: 30px 0 0;
}